In [1]:
#pip install duckdb==0.9.1

Collecting duckdb==0.9.1
  Obtaining dependency information for duckdb==0.9.1 from https://files.pythonhosted.org/packages/10/32/96e307be43f1653a9e94f729fd48aa869840aeaecbb0d7be84789881c6d5/duckdb-0.9.1-cp310-cp310-win_amd64.whl.metadata
  Using cached duckdb-0.9.1-cp310-cp310-win_amd64.whl.metadata (798 bytes)
Using cached duckdb-0.9.1-cp310-cp310-win_amd64.whl (10.3 MB)
Installing collected packages: duckdb
  Attempting uninstall: duckdb
    Found existing installation: duckdb 0.8.1
    Uninstalling duckdb-0.8.1:
      Successfully uninstalled duckdb-0.8.1
Successfully installed duckdb-0.9.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ffi (c:\users\padro\miniconda3\envs\hacktoberfest-env\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\padro\miniconda3\envs\hacktoberfest-env\lib\site-packages)

In [1]:
import duckdb

In [2]:
# initiate the MotherDuck connection through a service token through
con = duckdb.connect(f"md:?motherduck_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uIjoiZGVsYXRvcnJlbmEyMDE2LmxpY2lmdWcudWd0by5teCIsImVtYWlsIjoiZGVsYXRvcnJlbmEyMDE2QGxpY2lmdWcudWd0by5teCIsInVzZXJJZCI6IjA5NDhlMzQ4LWZhNDctNGViYi1hOTc0LWJkNTc2MzdmOWJjMCIsImlhdCI6MTY5ODA5MjM3NCwiZXhwIjoxNzI5NjQ5OTc0fQ.RM4GlFU2LsqAEcgzLR5iAveIqLMoASkxtLX40hRs290")
# run a query to check verify that you are connected
con.sql("SHOW DATABASES").show()

┌───────────────┐
│ database_name │
│    varchar    │
├───────────────┤
│ cloud_adidas  │
│ my_db         │
│ sample_data   │
└───────────────┘

In [4]:
con.sql("USE cloud_adidas;SELECT * FROM cloud_adidas.data_sales_adidas LIMIT 5").show()

┌─────────────┬─────────────┬─────────────────────┬───┬──────────────────┬──────────────────┬──────────────┐
│  Retailer   │ Retailer ID │    Invoice Date     │ … │ Operating Profit │ Operating Margin │ Sales Method │
│   varchar   │    int64    │    timestamp_ns     │   │      double      │      double      │   varchar    │
├─────────────┼─────────────┼─────────────────────┼───┼──────────────────┼──────────────────┼──────────────┤
│ Foot Locker │     1185732 │ 2020-01-01 00:00:00 │ … │         300000.0 │              0.5 │ In-store     │
│ Foot Locker │     1185732 │ 2020-01-02 00:00:00 │ … │         150000.0 │              0.3 │ In-store     │
│ Foot Locker │     1185732 │ 2020-01-03 00:00:00 │ … │         140000.0 │             0.35 │ In-store     │
│ Foot Locker │     1185732 │ 2020-01-04 00:00:00 │ … │         133875.0 │             0.35 │ In-store     │
│ Foot Locker │     1185732 │ 2020-01-05 00:00:00 │ … │         162000.0 │              0.3 │ In-store     │
├─────────────┴─────────────┴─────────────────────┴───┴──────────────────┴──────────────────┴──────────────┤
│ 5 rows                                                                              13 columns (6 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
# Define your SQL query
sql_query = "USE cloud_adidas;SELECT * FROM cloud_adidas.data_sales_adidas"

# Execute the query and fetch the result into a DataFrame
df = con.sql("USE cloud_adidas;SELECT * FROM cloud_adidas.data_sales_adidas").fetchdf().copy()

In [6]:
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet